

# Editor temporary files
*.swp
*.swo
*.save
*~

# Sensitive/local files
cookies.txt
.env
*.key
*.pem

# OS files
.DS_Store
Thumbs.db

# Temporary / test files
Nmap/x
Enumeration/o4
Enumeration/login.htm
Enumeration/notes.txt
Nmap/notes.txt
Nmap/*.gnmap
Nmap/*.nmap
Nmap/*.xml
